body  {
    background-color: rgba(236, 186, 236, 0.589);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.inicio{
    display: flex;
    height: 100vh;
}

.foto{
    flex: 1;
    background-color: rgb(219, 188, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.infos{
    flex: 2;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos h1{
    font-size: 48px;
    margin: 0;
    color: rgb(146, 87, 206);
}

.infos h2{
    font-size: 24px;
    margin-top: 10px;
    color: rgba(141, 79, 182, 0.952);
}

.infos p{
    font-size: 18px;
    margin: 10px  0;
    color: rgba(141, 79, 182, 0.952);
}

.social{
   
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

.social a{
    display: grid;
    place-items: center;
    text-decoration: none;
    color: rgba(160, 76, 185, 0.63);
    border: 1.6px   solid rgba(160, 76, 185, 0.63);
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;
}